<div class="container">
  <form>
    <label for="name">Nome</label><br>
    <input type="text" id="name" min="3" max="100" required><br>
    <label for="codename">Codinome</label><br>
    <input type="text" id="codename" min="3" max="100" required><br>
    <label for="idade">Idade</label><br>
    <input type="number" id="idade" required><br>
    <label for="country">País</label><br>
    <input type="text" id="country" min="3" max="100" required><br>
    <label for="team">Equipe</label><br>
    <input type="text" id="team" min="3" max="100" required><br>
    <input type="submit" value="Cadastrar" class="btn btn-primary">
  </form>
</div>
